body{
    font-family: Roboto,Ariel;
    margin: 0;
    padding-left: 80px;
    padding-right: 10px;
}
.img1{
width: 100%;
}
.ch-img{
width: 40px;
border-radius: 50px;
margin-left: 5px;
}
.video-title{
margin-bottom: 12px;
font-size: 14px;
font-weight: 500;
line-height: 20px;
color: black;
}
.thumbnail{
margin-bottom: 12px;
position: relative;
}
.video-author{
font-size: 12px;
color: rgb(96,96,96);
margin-bottom: 4px;
}
.video-stats{
font-size: 12px;
color: rgb(96,96,96);
margin-bottom: 4px;
}
.video-info-grid{
display:grid;
grid-template-columns: 50px 1fr;
}
.v-g{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 14px;
}
@media (max-width: 750px){
    .v-g{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:751px) and (max-width:999px)
{
    .v-g{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px){
    .v-g{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.v-time{
background-color: black;
color: white;
position: absolute;
bottom: 8px;
right: 5px;
font-size: 12px; 
font-weight: 500;
padding:4px;
border-radius: 2px;
}